:root {
  --fondo:#B3CCAD;
  --scroll: rgb(0, 0, 0);
  --container: rgba(0, 0, 0, 0.707);/*#20333a;*/
  --hover-buttons :  #43613b ;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--fondo);
  background-size: cover ;
}

.overflow{
  size: 100% 100%;
  overflow: hidden;
}
.Image{
 width: 22rem;
 height: 16rem;
 transform: scale(1);
 transition: all 0.2s ease-in-out;
}
.Image:hover{
  transform: scale(1.3);
}
.bgr{
  padding-top: 2%;
  width: 100%;
  height: 100vh auto;
  background-color: var(--fondo);
  
}

body::-webkit-scrollbar {
  background: var(--fondo);
}
body::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 6px;
}
.fondo{
  background-size: cover;
  padding: 2%;
  color: aliceblue;
  background-color: var(--container);
  box-shadow: 0px 10px 13px -7px #000000, 5px 4px 3px 36px rgba(0,0,0,0);
}
.link{
  width: 80px;
  margin-right: 3%;
  color: rgb(175, 173, 173);
}

.link:hover{
  color:rgb(226, 226, 226);
}
.container-contact{
  margin-top: -2%;
  box-shadow: 2px 0px 13px -5px #000000, 5px 4px 3px 36px rgba(0,0,0,0);
}

.skill{
  /*background: #000;*/
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.199);  
}
.fondo p {
  margin-top: 5%;
  font-size:20px;
}
.imgCV{
  margin-left: 7%;
  width: 79%;
}
.text-contact{
  margin-top: 9%;
  margin-left: -24%;
}
.container-contact{
        border-bottom-style:solid;
        border-bottom-color: #000;

}
.cont{
  margin-top: 5%;
  width: 50px;
  height: 50px;
}


/*  Profile picture and animation */
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
  opacity: 1
}

.content-image {
  width: 100%
}

img {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1
}

.content-details h3 {
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase
}

.content-details p {
  color: #fff;
  font-size: 0.8em
}

.fadeIn-bottom {
  top: 80%
}
.contact-method:hover{
  height: 75px;
  transition: all 0.1s ease-in-out 0s;
  margin-top: 3%;
  border-radius: 32px;
  background-color:var(--hover-buttons);
}

.skill img{
  width: 12rem;
  height: 10rem;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card{
  color: #000;
}

.Video-desc{
  color: rgb(228, 228, 228);
  margin-top:-2%;
  z-index: 100;
  position: absolute ;
  background: rgba(0, 0, 0, 0.726);
  height: 100vh;
  width: 100%;
}

.Video-desc h1{
  margin-top: 1%;
  margin-left: 95%;
}

.vid{
  margin-top: -3rem;
  margin-left: 9rem;
  height: 90%;
  width: 80%;
}
.content-details  h3{
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .bgr{
    padding-top: 0%;
  }
  .skill img{
    width: 16rem;
    height: 14rem;
  }
  
.vid{
  margin-left: 0%;
  height: 80%;
  width: 100%;
  z-index: 100;
  margin-top: 5%;
}
.Video-desc{
  margin-top: 0%;
}
.Video-desc h1{
  z-index: 200;
  margin-left: 90%;
}

}